.card{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 12px;
    background: #202024;
    width: 16vw;
    height: 13vh;
    margin-top: 20px;
    margin-right: 491px;
    position: absolute;
}

.cardElement{
    color: white;
    font-size: 18px;
    font-weight: bold;
}