.photo{
    width: 350px;
    border-radius: 12px;
}
.photoBorder{
    position: absolute;
}
.photoBorder::after {
    content: '';
    width: 334px;
    height: 436px;
    background: linear-gradient( 180deg,rgba(18,18,20,0) 0%,#c46e0b 100% );
    border-radius: 12px;
    position: absolute;
    right: -9px;
    bottom: -4px;
    z-index: -5;
    padding-bottom: 10px;
}